@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000033;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
}

.custom-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff; /* The color of the underline */
  position: absolute;
  bottom: -3px; /* Adjust as needed */
  left: -0px;
  border-radius: 10px; /* Creates the curve */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.custom-underline:hover::after {
  transform: scaleX(1);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.animate-scaleUp {
  animation: scaleUp 300ms forwards;
}

/* Base Styles for Navigation and Responsive Layout */
.navbar {
  position: relative;
  z-index: 10;
}

/* Hamburger Icon Styling */
.hamburger {
  display: none; /* Hidden on desktop by default */
  position: relative;
  width: 30px;
  height: 2px;
  background: #fff;
  cursor: pointer;
}

.hamburger span,
.hamburger span:before,
.hamburger span:after {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  transition: all 0.5s ease-in-out;
}

.hamburger span:before {
  content: "";
  top: -8px;
}

.hamburger span:after {
  content: "";
  top: 8px;
}

.hamburger.active span {
  background: transparent;
}

.hamburger.active span:before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active span:after {
  transform: rotate(-45deg);
  top: 0;
}

/* Mobile Menu Overlay */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.95);
  transform: translateX(100%);
  z-index: 1500;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
  display: block;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
}

@media (min-width: 320px) and (min-height: 448px) {
  .custom-xs-448-hero-title {
    padding-top: 0.75rem;
  }
  .custom-xs-448-hero-cards {
    padding-bottom: 4.5rem;
  }
  .custom-xs-448-hero-cards2 {
    height: 35vh;
  }
  .custom-xs-448-aboutbox-1 {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-xs-448-aboutbox-2 {
    margin-top: -0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-xs-448-aboutbox-3 {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-xs-448-aboutbox-5 {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-xs-448-aboutbox-6 {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .custom-xs-448-mobile-gap {
    /* Custom styles */
    row-gap: 1rem;
  }
  .custom-xs-448-mobile-gap-list {
    /* Custom styles */
    gap: 1rem;
    margin-bottom: 0rem;
  }

  .custom-xs-640-about-infobox {
    height: 100vh;
  }
  .custom-xs-448-benefits {
    height: 265vh;
  }
  .custom-xs-448-plans {
    height: 213vh;
  }
  .custom-xs-448-plans-box {
    height: 95vh;
  }
  .custom-xs-448-call2 {
    height: 80vh;
  }

  .custom-xs-448-mobile-consulting-hero {
    /* Custom styles */
    gap: 0.75rem;
  }

  .custom-xs-448-mobile-vaults-hero {
    /* Custom styles */
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    gap: 1.25rem;
  }
  .custom-xs-448-mobile-vaults-hero-title {
    /* Custom styles */
    padding-top: 1rem;
  }
}

@media (min-width: 320px) and (min-height: 640px) {
  .custom-xs-640-hero-title {
    /* Custom styles */
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .custom-xs-640-hero-cards {
    padding-bottom: 10rem;
  }
  .custom-xs-640-hero-cards2 {
    height: 25vh;
  }
  .custom-xs-640-snd-title {
    /* Custom styles */
    padding-top: 1rem;
  }
  .custom-xs-640-aboutbox-1 {
    margin-top: 1.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .custom-xs-640-aboutbox-2 {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .custom-xs-640-aboutbox-3 {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .custom-xs-640-aboutbox-5 {
    margin-top: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-xs-640-aboutbox-6 {
    margin-top: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .custom-xs-640-about-infobox {
    height: 81vh;
  }
  .custom-xs-640-benefits {
    height: 210vh;
  }
  .custom-xs-640-plans {
    height: 177vh;
  }
  .custom-xs-640-plans-box {
    height: 80vh;
  }
  .custom-xs-640-call2 {
    height: 55vh;
  }
  .custom-xs-640-mobile-gap {
    /* Custom styles */
    row-gap: 4rem;
  }
  .custom-xs-640-mobile-gap-list {
    /* Custom styles */
    gap: 2rem;
    margin-bottom: 0rem;
  }
  .custom-xs-640-mobile-consulting-hero {
    /* Custom styles */
    gap: 4rem;
  }
  .custom-xs-640-mobile-vaults-hero-title {
    /* Custom styles */
    padding-top: 2rem;
  }
  .custom-xs-640-mobile-vaults-hero {
    /* Custom styles */
    padding-top: 7rem;
    padding-bottom: 3.5rem;
    gap: 1.25rem;
  }
}
@media (min-width: 340px) {
  .custom-xs-340-hero-cards {
    padding-bottom: 12rem;
  }
  .custom-xs-340-hero-title {
    padding-bottom: 0;
    padding-top: 2rem;
  }
}
@media (min-width: 360px) {
  .custom-xs-360-hero-cards-height {
    height: 27vh;
  }

  .custom-xs-360-about-infobox {
    height: 95vh;
  }

  .custom-xs-360-mobile-gap-list {
    gap: 3rem;
    margin-top: -2.25rem;
  }
  .custom-xs-360-aboutbox-5 {
    margin-top: 1.75rem;
  }
}
.custom-xs-360-mobile-consulting-hero {
  gap: 5rem;
}

.custom-xs-360-aboutbox-6 {
  padding-top: -0.5rem;
}

@media (min-width: 370px) and (min-height: 550px) {
  .custom-xs-550-hero-title {
    margin-top: 1rem;
  }
  .custom-xs-550-hero-cards {
    margin-top: -2.7rem;
  }
  .custom-xs-550-hero-cards-height {
    height: 30vh;
  }

  .custom-xs-550-about-infobox {
    height: 95vh;
  }

  .custom-xs-550-benefits {
    height: 235vh;
  }

  .custom-xs-550-mobile-gap-list {
    gap: 2.5rem;
    margin-top: -1rem;
  }
  .custom-xs-550-mobile-consulting-hero {
    gap: 3.5rem;
  }
  .custom-xs-550-aboutbox-2 {
    margin-top: 0;
  }

  .custom-xs-550-aboutbox-3 {
    margin-top: 1.5rem;
  }

  .custom-xs-550-aboutbox-5 {
    margin-top: 0.5rem;
  }
}

@media (min-width: 370px) and (min-height: 660px) {
  .custom-xs-660-hero-title {
    margin-top: 3.5rem;
  }
  .custom-xs-660-hero-cards {
    margin-top: -2.7rem;
  }
  .custom-xs-660-hero-cards-height {
    height: 25vh;
  }

  .custom-xs-660-about-infobox {
    height: 95vh;
  }

  .custom-xs-660-benefits {
    height: 210vh;
  }

  .custom-xs-660-mobile-gap-list {
    gap: 2rem;
    margin-top: -3rem;
  }
  .custom-xs-660-mobile-consulting-hero {
    gap: 3.5rem;
  }

  .custom-xs-660-aboutbox-2 {
    margin-top: 1rem;
  }
  .custom-xs-660-aboutbox-3 {
    margin-top: 2.3rem;
  }

  .custom-xs-660-aboutbox-5 {
    margin-top: 1.5rem;
  }

  .custom-xs-660-aboutbox-6 {
    margin-top: 1.7rem;
  }

  .custom-xs-660-plans {
    height: 190vh;
  }

  .custom-xs-660-plans-box {
    height: 85vh;
  }

  .custom-xs-660-call2 {
    height: 65vh;
  }
}
@media (min-width: 380px) and (min-height: 680px) {
  .custom-xs-670-hero-cards {
    margin-top: -2.7rem;
  }
  .custom-xs-670-aboutbox-5 {
    margin-top: 2rem;
  }

  .custom-xs-670-aboutbox-6 {
    margin-top: 1.7rem;
  }

  .custom-xs-670-plans {
    height: 190vh;
  }

  .custom-xs-670-plans-box {
    height: 80vh;
  }

  .custom-xs-670-call2 {
    height: 55vh;
  }

  .custom-xs-670-benefits {
    height: 200vh;
  }

  .custom-xs-670-about-infobox {
    height: 85vh;
  }
}
@media (min-width: 380px) and (min-height: 850px) {
  .custom-xs-850-hero-title {
    margin-top: 8rem;
  }
  .custom-xs-850-aboutbox-5 {
    margin-top: 2rem;
  }

  .custom-xs-850-aboutbox-6 {
    margin-top: 1.7rem;
  }

  .custom-xs-850-plans {
    height: 165vh;
  }

  .custom-xs-850-plans-box {
    height: 75vh;
  }

  .custom-xs-850-call2 {
    height: 50vh;
  }

  .custom-xs-850-about-infobox {
    height: 80vh;
  }

  .custom-xs-850-aboutbox-2 {
    margin-top: 3rem;
  }

  .custom-xs-850-aboutbox-3 {
    margin-top: 4rem;
  }

  .custom-xs-850-aboutbox-5 {
    margin-top: 4rem;
  }

  .custom-xs-850-aboutbox-6 {
    margin-top: 4rem;
  }

  .custom-xs-850-benefits {
    height: 180vh;
  }

  .custom-xs-850-mobile-gap-list {
    gap: 5rem;
    margin-top: -1rem;
  }

  .custom-xs-850-mobile-vaults-hero-title {
    padding-top: 3rem;
  }

  .custom-xs-850-mobile-vaults-hero {
    /* Custom styles */
    padding-top: 10rem;
    padding-bottom: 3.5rem;
    gap: 1.25rem;
  }
}

@media (min-width: 390px) and (min-height: 650px) {
  .custom-xs-650-hero-title {
    margin-top: 2rem;
  }

  .custom-xs-390-650-aboutbox-5 {
    margin-top: 2rem;
  }

  .custom-xs-390-650-aboutbox-6 {
    margin-top: 2rem !important;
  }

  .custom-xs-860-plans {
    height: 165vh;
  }

  .custom-xs-860-plans-box {
    height: 75vh;
  }

  .custom-xs-860-call2 {
    height: 60vh;
  }

  .custom-xs-860-about-infobox {
    height: 80vh;
  }

  .custom-xs-860-aboutbox-2 {
    margin-top: 3rem;
  }

  .custom-xs-860-aboutbox-3 {
    margin-top: 4rem;
  }

  .custom-xs-860-aboutbox-5 {
    margin-top: 4rem;
  }

  .custom-xs-860-aboutbox-6 {
    margin-top: 4rem;
  }

  .custom-xs-860-benefits {
    height: 210vh;
  }

  .custom-xs-860-mobile-gap {
    /* Custom styles */
    row-gap: 2.5rem;
  }
  .custom-xs-860-mobile-gap-list {
    gap: 5rem;
    margin-top: -1rem;
  }

  .custom-xs-860-mobile-vaults-hero-title {
    padding-top: 3rem;
  }

  .custom-xs-860-mobile-vaults-hero {
    /* Custom styles */
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    gap: 1.25rem;
  }
}

@media (min-width: 390px) and (min-height: 780px) {
  .custom-xs-390780-hero-title {
    margin-top: 3rem;
  }

  .custom-xs-390780-hero-cards-height {
    height: 33vh;
  }

  .custom-xs-390780-aboutbox-2 {
    margin-top: 2.5rem;
  }

  .custom-xs-390780-aboutbox-3 {
    margin-top: 2.5rem;
  }

  .custom-xs-390780-aboutbox-5 {
    margin-top: 2rem !important;
  }

  .custom-xs-390780-aboutbox-6 {
    margin-top: 2rem !important;
  }

  .custom-xs-390780-plans {
    height: 185vh;
  }

  .custom-xs-390780-plans-box {
    height: 75vh;
  }

  .custom-xs-390780-call2 {
    height: 60vh;
  }

  .custom-xs-390780-about-infobox {
    height: 80vh;
  }

  .custom-xs-390780-aboutbox-2 {
    margin-top: 3rem;
  }

  .custom-xs-390780-aboutbox-3 {
    margin-top: 4rem;
  }

  .custom-xs-390780-aboutbox-5 {
    margin-top: 4rem;
  }

  .custom-xs-390780-aboutbox-6 {
    margin-top: 4rem;
  }

  .custom-xs-390780-benefits {
    height: 210vh;
  }

  .custom-xs-390780-mobile-gap {
    /* Custom styles */
    row-gap: 4.5rem;
  }
  .custom-xs-390780-mobile-gap-list {
    gap: 3.4rem;
    margin-top: -1rem;
  }

  .custom-xs-390780-mobile-consulting-hero {
    gap: 5rem;
  }

  .custom-xs-390780-mobile-vaults-hero-title {
    padding-top: 8rem;
  }
}

@media (min-width: 410px) and (min-height: 675px) {
  .custom-xs-410675-hero-title {
    margin-top: 1.5rem;
  }

  .custom-xs-410675-snd-title {
    margin-top: -2rem;
  }

  .custom-xs-410675-hero-cards-height {
    height: 33vh;
  }

  .custom-xs-410675-aboutbox-2 {
    margin-top: 2.5rem;
  }

  .custom-xs-410675-aboutbox-3 {
    margin-top: 2.5rem;
  }

  .custom-xs-410675-aboutbox-5 {
    margin-top: 2rem !important;
  }

  .custom-xs-410675-aboutbox-6 {
    margin-top: 2rem !important;
  }

  .custom-xs-410675-plans {
    height: 198vh;
  }

  .custom-xs-410675-plans-box {
    height: 90vh;
  }

  .custom-xs-410675-call2 {
    height: 70vh;
  }

  .custom-xs-410675-about-infobox {
    height: 80vh;
  }

  .custom-xs-410675-aboutbox-2 {
    margin-top: 3rem;
  }

  .custom-xs-410675-aboutbox-3 {
    margin-top: 4rem;
  }

  .custom-xs-410675-aboutbox-5 {
    margin-top: 4rem;
  }

  .custom-xs-410675-aboutbox-6 {
    margin-top: 4rem;
  }

  .custom-xs-410675-benefits {
    height: 210vh;
  }

  .custom-xs-410675-mobile-gap {
    /* Custom styles */
    row-gap: 4rem;
  }
  .custom-xs-410675-mobile-gap-list {
    gap: 2.4rem;
    margin-top: -3rem;
  }

  .custom-xs-410675-mobile-consulting-hero {
    gap: 5rem;
  }

  .custom-xs-410675-mobile-vaults-hero-title {
    padding-top: 8rem;
  }
}
@media (min-width: 410px) and (min-height: 810px) {
  .custom-xs-410810-hero-title {
    margin-top: 3.5rem;
  }

  .custom-xs-410810-snd-title {
    margin-top: 0rem;
  }

  .custom-xs-410810-hero-cards-height {
    height: 30vh;
  }

  .custom-xs-410810-aboutbox-2 {
    margin-top: 2.5rem;
  }

  .custom-xs-410810-aboutbox-3 {
    margin-top: 2.5rem;
  }

  .custom-xs-410810-aboutbox-5 {
    margin-top: 3rem !important;
  }

  .custom-xs-410810-aboutbox-6 {
    margin-top: 3rem !important;
  }

  .custom-xs-410810-plans {
    height: 175vh;
  }

  .custom-xs-410810-plans-box {
    height: 80vh;
  }

  .custom-xs-410810-call2 {
    height: 60vh;
  }

  .custom-xs-410810-about-infobox {
    height: 80vh;
  }

  .custom-xs-410810-aboutbox-2 {
    margin-top: 3rem;
  }

  .custom-xs-410810-aboutbox-3 {
    margin-top: 4rem;
  }

  .custom-xs-410810-aboutbox-5 {
    margin-top: 4rem;
  }

  .custom-xs-410810-aboutbox-6 {
    margin-top: 4rem;
  }

  .custom-xs-410810-benefits {
    height: 190vh;
  }

  .custom-xs-410810-mobile-gap {
    /* Custom styles */
    row-gap: 6.5rem;
  }
  .custom-xs-410810-mobile-gap-list {
    gap: 2.4rem;
    margin-top: -3rem;
  }

  .custom-xs-410810-mobile-consulting-hero {
    gap: 5rem;
  }

  .custom-xs-410810-mobile-vaults-hero-title {
    padding-top: 3rem;
  }

  .custom-xs-410810-mobile-vaults-hero-text {
    padding-top: 2.5rem;
  }
}
